<template>
    <div class="about">
        <h1>This is the about page</h1>
        <p>I am enjoying VueJS very much and I would like to learn more.</p>
        <p>I am enjoying VueJS very much and I would like to learn more.</p>
        <p>I am enjoying VueJS very much and I would like to learn more.</p>
        <p>I am enjoying VueJS very much and I would like to learn more.</p>
        <p>I am enjoying VueJS very much and I would like to learn more.</p>
    </div>
</template>