<template>
  <div class="container">
    <h1 v-once>{{ name }}</h1> <br/>
    <!-- {{ btnState ? 'The button is disabled' : 'The button is enabled' }}
    <button v-on:click="changeName" v-bind:disabled="btnState">Change Name</button> -->

    <form @submit.prevent="addTodo">
      <input type="text" placeholder="What do you want todo today?" v-model="todo" v-validate="'min:5'" name="todo">{{todo}}

      <transition name="alert-in">
      <p class="alert" v-if="errors.has('todo')">{{ errors.first('todo') }}</p>
      </transition>

    </form>

    <div class="holder">
      <ul>
        <transition-group name="alert-in">
          <li v-for="(data,index) in todos" :key="index">{{ index+1 }}. {{ data.todo }} <i class="fa fa-minus-circle" v-on:click="removeTodo(index)"></i></li>
        </transition-group>
      </ul>
      <!-- <div v-bind:style="{backgroundColor:bgColor,width:bgWidth,height:bgHeight}"></div> -->

      <p>These are your activities today</p>

    </div>
  
  </div>
</template>

<script>
export default {
  name: 'Todos',
  data() {
    return{
      name: 'Cesar Francisco',
      btnState: false,
      todos: [
        {"todo":"Play"},
        {"todo":"Code"},
        {"todo":"Eat"},
        {"todo":"Sleep"}
      ],
      showAlert: true,
      todo: '',


      // bgColor: 'orange',
      // bgWidth: '100%',
      // bgHeight: '30px'
    }
  },
  methods: {
    addTodo(){
      this.$validator.validateAll().then((result)=>{
        if(result){
          this.todos.push({todo:this.todo});
          this.todo='';
        }else{
          console.log('not a valid input.');
      }
      }

      )
      // this.todos.push({todo:this.todo});
      // this.todo='';
    },
    removeTodo(id){
      this.todos.splice(id,1);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

i {
  float: right;
}

.holder {
  background: #fff;
}

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul li {
  padding: 20px;
  font-size: 1.3em;
  background-color: #E0EDf4;
  border-left: 5px solid #3eb3f6;
  margin-bottom: 2px;
  color: #3e5252;
}

p {
  text-align: center;
  padding: 30px 0;
  color: gray;
}

.container {
  box-shadow: 0px 0px 40px lightgray;
}

a {
  color: #42b983;
}

input{
  width: calc(100% - 40px);
  border: 0;
  padding: 20px;
  font-size: 1.3em;
  background-color: #323333;
  color: #687f7f;
}

.alert {
  background-color: #fdf2ce;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
  margin-top: 20px;
}

.alert-in-enter-active {
  animation: bounce-in .5s;
}

.alert-in-leave-active {
  animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}


</style>
