<template>
  <div id="app">
    
    <nav>
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
      <router-view />
    </nav>

  </div>
</template>

<script>

</script>

<style>

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  background-color:  #eee;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  /* align-items: center; */
  padding-top: 50px;
}

nav {
  padding: 20px 20px 20px 20px 0;
}

nav a {
  padding: 10px;
  text-decoration: none;
  background: #fff;
  border-radius: 3px;
  color: rgb(0,110, 255);
  font-weight: bold;
  margin-right: 15px;
}

body, html {
  margin: 0 ;
  height: 100%;
}
#app {
  width: 50%;
}
</style>
